* {
  box-sizing: border-box;
}
@font-face {
  font-family: "miFuente";
  src: url("../fuentes/roboto.ttf");
}
html {
  font-family: miFuente;
}
body {
  font-size: 1em;
  background-color: rgb(236, 198, 214);
}
.contenedorGeneral {
  width: fit-content;
  height: auto;
  border: 1px solid silver;
  margin: 30px auto;
  display: grid;
  place-items: center;
  gap: 15px;
  background-color: #e7e7e7;
  border-radius: 5px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 3px 0px 3px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.legend {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  padding: 0 5px;
}

.fieldset {
  border: 1.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  width: 100%;
}
.fieldset > * {
  flex: 1;
}
.lblLenguaje {
  text-align: right;
  font-weight: bold;
}

.selectorCategorias {
  height: 25px;
  background: transparent;
}

.contenedorResultados {
  background-color: burlywood;
  width: 100%;
  font-weight: 600;
  font-size: 1em;
}

.listaResultados {
  list-style-position: inside;
  padding: 10px;
  margin: 0;
  display: none;
}

@media (max-width: 600px) {
  select {
    border: 1px solid black;
    border-radius: 0;
    color: black;
    font-weight: 600;
  }
}
